@charset "utf-8";
/* CSS Document */

*{font-family: "Merienda"}

body{background-image:url("imagenes/fondo reservar.png");}

input { background-color:#76655B;
	width: 250px;
	height: 30px } 

main {display:flex;
justify-content: center;
align-items: center;

}

@font-face {
	font-family: "Merienda";
		src: url("fonts/Merienda-Regular.ttf");
	font-weight: normal;
	font-style: normal}

nav ul {display:inline}